/* ------------------------------------------------------------------------ */
.country-os-bg {
  background: url('../images/countries/os/logo.gif');
}
.unit-os-anti-air-bg {
  background: url('../images/units/os/anti-air.gif');
}
.unit-os-apc-bg {
  background: url('../images/units/os/apc.gif');
}
.unit-os-artillery-bg {
  background: url('../images/units/os/artillery.gif');
}
.unit-os-b-copter-bg {
  background: url('../images/units/os/b-copter.gif');
}
.unit-os-battleship-bg {
  background: url('../images/units/os/battleship.gif');
}
.unit-os-blackboat-bg {
  background: url('../images/units/os/blackboat.gif');
}
.unit-os-blackbomb-bg {
  background: url('../images/units/os/blackbomb.gif');
}
.unit-os-bomber-bg {
  background: url('../images/units/os/bomber.gif');
}
.unit-os-carrier-bg {
  background: url('../images/units/os/carrier.gif');
}
.unit-os-cruiser-bg {
  background: url('../images/units/os/cruiser.gif');
}
.unit-os-fighter-bg {
  background: url('../images/units/os/fighter.gif');
}
.unit-os-infantry-bg {
  background: url('../images/units/os/infantry.gif');
}
.unit-os-lander-bg {
  background: url('../images/units/os/lander.gif');
}
.unit-os-mdtank-bg {
  background: url('../images/units/os/mdtank.gif');
}
.unit-os-mech-bg {
  background: url('../images/units/os/mech.gif');
}
.unit-os-megatank-bg {
  background: url('../images/units/os/megatank.gif');
}
.unit-os-missile-bg {
  background: url('../images/units/os/missile.gif');
}
.unit-os-neotank-bg {
  background: url('../images/units/os/neotank.gif');
}
.unit-os-piperunner-bg {
  background: url('../images/units/os/piperunner.gif');
}
.unit-os-recon-bg {
  background: url('../images/units/os/recon.gif');
}
.unit-os-rocket-bg {
  background: url('../images/units/os/rocket.gif');
}
.unit-os-stealth-bg {
  background: url('../images/units/os/stealth.gif');
}
.unit-os-sub-bg {
  background: url('../images/units/os/sub.gif');
}
.unit-os-t-copter-bg {
  background: url('../images/units/os/t-copter.gif');
}
.unit-os-tank-bg {
  background: url('../images/units/os/tank.gif');
}
.country-bm-bg {
  background: url('../images/countries/bm/logo.gif');
}
.unit-bm-anti-air-bg {
  background: url('../images/units/bm/anti-air.gif');
}
.unit-bm-apc-bg {
  background: url('../images/units/bm/apc.gif');
}
.unit-bm-artillery-bg {
  background: url('../images/units/bm/artillery.gif');
}
.unit-bm-b-copter-bg {
  background: url('../images/units/bm/b-copter.gif');
}
.unit-bm-battleship-bg {
  background: url('../images/units/bm/battleship.gif');
}
.unit-bm-blackboat-bg {
  background: url('../images/units/bm/blackboat.gif');
}
.unit-bm-blackbomb-bg {
  background: url('../images/units/bm/blackbomb.gif');
}
.unit-bm-bomber-bg {
  background: url('../images/units/bm/bomber.gif');
}
.unit-bm-carrier-bg {
  background: url('../images/units/bm/carrier.gif');
}
.unit-bm-cruiser-bg {
  background: url('../images/units/bm/cruiser.gif');
}
.unit-bm-fighter-bg {
  background: url('../images/units/bm/fighter.gif');
}
.unit-bm-infantry-bg {
  background: url('../images/units/bm/infantry.gif');
}
.unit-bm-lander-bg {
  background: url('../images/units/bm/lander.gif');
}
.unit-bm-mdtank-bg {
  background: url('../images/units/bm/mdtank.gif');
}
.unit-bm-mech-bg {
  background: url('../images/units/bm/mech.gif');
}
.unit-bm-megatank-bg {
  background: url('../images/units/bm/megatank.gif');
}
.unit-bm-missile-bg {
  background: url('../images/units/bm/missile.gif');
}
.unit-bm-neotank-bg {
  background: url('../images/units/bm/neotank.gif');
}
.unit-bm-piperunner-bg {
  background: url('../images/units/bm/piperunner.gif');
}
.unit-bm-recon-bg {
  background: url('../images/units/bm/recon.gif');
}
.unit-bm-rocket-bg {
  background: url('../images/units/bm/rocket.gif');
}
.unit-bm-stealth-bg {
  background: url('../images/units/bm/stealth.gif');
}
.unit-bm-sub-bg {
  background: url('../images/units/bm/sub.gif');
}
.unit-bm-t-copter-bg {
  background: url('../images/units/bm/t-copter.gif');
}
.unit-bm-tank-bg {
  background: url('../images/units/bm/tank.gif');
}
.country-ge-bg {
  background: url('../images/countries/ge/logo.gif');
}
.unit-ge-anti-air-bg {
  background: url('../images/units/ge/anti-air.gif');
}
.unit-ge-apc-bg {
  background: url('../images/units/ge/apc.gif');
}
.unit-ge-artillery-bg {
  background: url('../images/units/ge/artillery.gif');
}
.unit-ge-b-copter-bg {
  background: url('../images/units/ge/b-copter.gif');
}
.unit-ge-battleship-bg {
  background: url('../images/units/ge/battleship.gif');
}
.unit-ge-blackboat-bg {
  background: url('../images/units/ge/blackboat.gif');
}
.unit-ge-blackbomb-bg {
  background: url('../images/units/ge/blackbomb.gif');
}
.unit-ge-bomber-bg {
  background: url('../images/units/ge/bomber.gif');
}
.unit-ge-carrier-bg {
  background: url('../images/units/ge/carrier.gif');
}
.unit-ge-cruiser-bg {
  background: url('../images/units/ge/cruiser.gif');
}
.unit-ge-fighter-bg {
  background: url('../images/units/ge/fighter.gif');
}
.unit-ge-infantry-bg {
  background: url('../images/units/ge/infantry.gif');
}
.unit-ge-lander-bg {
  background: url('../images/units/ge/lander.gif');
}
.unit-ge-mdtank-bg {
  background: url('../images/units/ge/mdtank.gif');
}
.unit-ge-mech-bg {
  background: url('../images/units/ge/mech.gif');
}
.unit-ge-megatank-bg {
  background: url('../images/units/ge/megatank.gif');
}
.unit-ge-missile-bg {
  background: url('../images/units/ge/missile.gif');
}
.unit-ge-neotank-bg {
  background: url('../images/units/ge/neotank.gif');
}
.unit-ge-piperunner-bg {
  background: url('../images/units/ge/piperunner.gif');
}
.unit-ge-recon-bg {
  background: url('../images/units/ge/recon.gif');
}
.unit-ge-rocket-bg {
  background: url('../images/units/ge/rocket.gif');
}
.unit-ge-stealth-bg {
  background: url('../images/units/ge/stealth.gif');
}
.unit-ge-sub-bg {
  background: url('../images/units/ge/sub.gif');
}
.unit-ge-t-copter-bg {
  background: url('../images/units/ge/t-copter.gif');
}
.unit-ge-tank-bg {
  background: url('../images/units/ge/tank.gif');
}
.country-yc-bg {
  background: url('../images/countries/yc/logo.gif');
}
.unit-yc-anti-air-bg {
  background: url('../images/units/yc/anti-air.gif');
}
.unit-yc-apc-bg {
  background: url('../images/units/yc/apc.gif');
}
.unit-yc-artillery-bg {
  background: url('../images/units/yc/artillery.gif');
}
.unit-yc-b-copter-bg {
  background: url('../images/units/yc/b-copter.gif');
}
.unit-yc-battleship-bg {
  background: url('../images/units/yc/battleship.gif');
}
.unit-yc-blackboat-bg {
  background: url('../images/units/yc/blackboat.gif');
}
.unit-yc-blackbomb-bg {
  background: url('../images/units/yc/blackbomb.gif');
}
.unit-yc-bomber-bg {
  background: url('../images/units/yc/bomber.gif');
}
.unit-yc-carrier-bg {
  background: url('../images/units/yc/carrier.gif');
}
.unit-yc-cruiser-bg {
  background: url('../images/units/yc/cruiser.gif');
}
.unit-yc-fighter-bg {
  background: url('../images/units/yc/fighter.gif');
}
.unit-yc-infantry-bg {
  background: url('../images/units/yc/infantry.gif');
}
.unit-yc-lander-bg {
  background: url('../images/units/yc/lander.gif');
}
.unit-yc-mdtank-bg {
  background: url('../images/units/yc/mdtank.gif');
}
.unit-yc-mech-bg {
  background: url('../images/units/yc/mech.gif');
}
.unit-yc-megatank-bg {
  background: url('../images/units/yc/megatank.gif');
}
.unit-yc-missile-bg {
  background: url('../images/units/yc/missile.gif');
}
.unit-yc-neotank-bg {
  background: url('../images/units/yc/neotank.gif');
}
.unit-yc-piperunner-bg {
  background: url('../images/units/yc/piperunner.gif');
}
.unit-yc-recon-bg {
  background: url('../images/units/yc/recon.gif');
}
.unit-yc-rocket-bg {
  background: url('../images/units/yc/rocket.gif');
}
.unit-yc-stealth-bg {
  background: url('../images/units/yc/stealth.gif');
}
.unit-yc-sub-bg {
  background: url('../images/units/yc/sub.gif');
}
.unit-yc-t-copter-bg {
  background: url('../images/units/yc/t-copter.gif');
}
.unit-yc-tank-bg {
  background: url('../images/units/yc/tank.gif');
}
.country-bh-bg {
  background: url('../images/countries/bh/logo.gif');
}
.unit-bh-anti-air-bg {
  background: url('../images/units/bh/anti-air.gif');
}
.unit-bh-apc-bg {
  background: url('../images/units/bh/apc.gif');
}
.unit-bh-artillery-bg {
  background: url('../images/units/bh/artillery.gif');
}
.unit-bh-b-copter-bg {
  background: url('../images/units/bh/b-copter.gif');
}
.unit-bh-battleship-bg {
  background: url('../images/units/bh/battleship.gif');
}
.unit-bh-blackboat-bg {
  background: url('../images/units/bh/blackboat.gif');
}
.unit-bh-blackbomb-bg {
  background: url('../images/units/bh/blackbomb.gif');
}
.unit-bh-bomber-bg {
  background: url('../images/units/bh/bomber.gif');
}
.unit-bh-carrier-bg {
  background: url('../images/units/bh/carrier.gif');
}
.unit-bh-cruiser-bg {
  background: url('../images/units/bh/cruiser.gif');
}
.unit-bh-fighter-bg {
  background: url('../images/units/bh/fighter.gif');
}
.unit-bh-infantry-bg {
  background: url('../images/units/bh/infantry.gif');
}
.unit-bh-lander-bg {
  background: url('../images/units/bh/lander.gif');
}
.unit-bh-mdtank-bg {
  background: url('../images/units/bh/mdtank.gif');
}
.unit-bh-mech-bg {
  background: url('../images/units/bh/mech.gif');
}
.unit-bh-megatank-bg {
  background: url('../images/units/bh/megatank.gif');
}
.unit-bh-missile-bg {
  background: url('../images/units/bh/missile.gif');
}
.unit-bh-neotank-bg {
  background: url('../images/units/bh/neotank.gif');
}
.unit-bh-piperunner-bg {
  background: url('../images/units/bh/piperunner.gif');
}
.unit-bh-recon-bg {
  background: url('../images/units/bh/recon.gif');
}
.unit-bh-rocket-bg {
  background: url('../images/units/bh/rocket.gif');
}
.unit-bh-stealth-bg {
  background: url('../images/units/bh/stealth.gif');
}
.unit-bh-sub-bg {
  background: url('../images/units/bh/sub.gif');
}
.unit-bh-t-copter-bg {
  background: url('../images/units/bh/t-copter.gif');
}
.unit-bh-tank-bg {
  background: url('../images/units/bh/tank.gif');
}
/* ------------------------------------------------------------------------ */
.icon {
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 20px;
}
.unit {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 16px;
}
.unit-bg {
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 20px;
}
.country-bg {
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 20px;
}
div.table-header {
  background-color: #337ab7;
  color: white;
  font-weight: bold;
  padding: 5px;
}
div.table-row {
  padding: 5px;
}
.version {
  background: url('../images/logo.gif');
  background-repeat: no-repeat;
  color: #183854;
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 80px;
  padding-top: 7px;
  text-align: right;
}
#navbar {
  background-color: #8cb8df;
  border-bottom-color: #337ab7;
}
#navbar.navbar-default .navbar-nav > li > a {
  color: white;
}
#navbar.navbar-default .navbar-nav > li.open > a {
  background-color: #337ab7;
  color: white;
}
body {
  padding-top: 55px;
}
a.dropdown-toggle {
  cursor: pointer;
}
div.odd {
  background-color: #f9f9f9;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
