<h2>{{game.name}}</h2>

<div id="stats">
    <div class="">
        <span ng-show="game.startDate">Started: <span ng-bind="game.startDate | date: 'MM/dd/yyyy'"></span></span>
    </div>
</div>

<tile ng-repeat="i in utils.range(0, map.tiles.length - 1)"></tile>

<div id="players" style="clear:both;">

    <div class="row" ng-repeat="p in game.players">
        <div class="col-md-2">{{p.user.username}}</div>
        <div class="col-md-1">{{p.funds}}</div>
        <div class="col-md-2 text-right">
            <button type="button" class="btn btn-primary btn-xs" ng-click="endTurn()" ng-show="p.user._id === currentUser()._id && p.active">End Turn</button>
            <button type="button" class="btn btn-primary btn-xs" ng-click="startGame()" ng-show="!game.startDate">Start Game</button>
        </div>
        <div class="col-md-5"></div>
    </div>
        
</div>
