<div id="login-form" class="panel panel-primary">
    <div class="panel-heading">
        <h4>Login</h4>
    </div>

    <div class="panel-body">
        <form ng-submit="login()">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" ng-model="username" class="form-control" set-focus="true">
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ng-model="password" class="form-control">
    
            <br/>
    
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" ng-disabled="buttonDisabled">
                        <i class="fa" ng-class="{'fa-sign-in': !buttonDisabled, 'fa-cog': buttonDisabled, 'fa-spin': buttonDisabled}"></i> 
                        Login</button>
                </div>
        
                <div class="col-md-10">
                    <span class="bg-danger text-danger rounded" ng-show="error">
                        <i class="fa fa-exclamation-triangle"></i> {{error}}
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>