<h2>{{map.name}}</h2>

<div class="game-map-row" ng-repeat="y in range(0, (map.tiles.length / map.width) - 1)">

    <img context-menu-click="{{terrain[map.tiles[x + (y * map.width)].terrain].name.toLowerCase() == 'base'}}" context-menu-items="unitMenu" class="{{terrain[map.tiles[x + (y * map.width)].terrain].name.toLowerCase()}}" ng-repeat="x in range(0, map.width - 1)" ng-src="images/aw1/{{ map.tiles[x + (y * map.width)].country || null }}{{terrain[map.tiles[x + (y * map.width)].terrain].name.toLowerCase()}}.gif" alt="map"> 
    
</div>
