<nav class="navbar-default navbar navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-click="menus[0] = !menus[0]">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" ng-click="menus[0] = !menus[0]">AWBW</a>
        </div>
    
        <div id="navbar" class="navbar-collapse collapse" uib-collapse="menus[0]">
            <ul class="nav navbar-nav">
                <!-- <li ng-class="{active: location == '/login'}" ng-click="menus[0] = !menus[0]"><a href="#/login">Login</a></li> -->
            </ul>
            
            <ul id="user-nav-ul" class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-class="{open: !isUserCollapsed}" ng-click="isUserCollapsed = !isUserCollapsed">
                    <a class="dropdown-toggle point">
                        <i class="fa fa-user"></i> <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" uib-collapse="isUserCollapsed">
                        <li role="presentation" class="dropdown-header" ng-show="currentUser()">{{currentUser().username}}</li>
                        <li role="presentation" ng-show="!currentUser().username">
                            <a href="#/login"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                        <li role="presentation" ng-show="currentUser().username">
                            <a class="point" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>