@import "src/bower_components/bootstrap/less/bootstrap.less";

@navbar-default-bg: @brand-primary;
@navbar-default-link-color: white;
@navbar-default-link-active-color: white;
    
body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 65px;
}

.navbar-default .navbar-brand {
    font-weight: 700;
}

h2, h3, h4 {
    font-weight: 700;
}

.panel-heading {
    padding: 5px;
    padding-left: 15px;
}

#login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 75%;
}

.point {
    cursor: pointer;
}