div.clear {
    clear: both;
}

.spritesheet {
    background: url('../images/aw1-sprites.png') no-repeat;
}

div.aw1-map-sprite {
    .spritesheet;
    display: block;
    float: left;
    height: 16px;
    position: relative;
    width: 16px;
}

div.aw1-map-sprite a, div.unit a {
    bottom: 0;
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    width: 16px;
}

div.movementSquare {
    background-color: red;
    opacity: .65;
    bottom: 1px;
    display: block;
    height: 14px;
    left: 1px;
    position: absolute;
    width: 14px;    
}

div.unit {
    .spritesheet;
    bottom: 0;
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    width: 16px;    
}

div.aw1-map-sprite .popover-content {
    min-width: 200px;
}

div.aw1-plain    { background-position: -210px 0; }
div.aw1-road     { background-position: -147px 0; }
div.aw1-wood     { background-position: -210px -21px; }
div.aw1-mountain { background-position: 0 -101px; height: 21px; margin-top: -5px; }

div.aw1-osbase { background-position: -42px -30px;  height: 25px; margin-top: -9px; }
div.aw1-oshq   { background-position: -21px 0; height: 31px; margin-top: -15px; }

div.aw1-bmbase { background-position: -42px 0;  height: 25px; margin-top: -9px; }
div.aw1-bmhq   { background-position: 0 -1px; height: 30px; margin-top: -14px; }

div.aw1-osinfantry   { background-position: -231px -21px; }
div.aw1-osmech       { background-position: -147px -42px; }
div.aw1-osapc        { background-position: -231px -41px; }
div.aw1-ostank       { background-position: -209px -82px; }
div.aw1-osmdtank     { background-position: -127px -63px; }
div.aw1-osneotank    { background-position: -148px -84px; }
div.aw1-osmegatank   { background-position: -168px -42px; }
div.aw1-osartillery  { background-position: -210px -42px; }
div.aw1-osantiair    { background-position: -147px -21px; }
div.aw1-osrecon      { background-position: -230px -60px; }
div.aw1-osrocket     { background-position: -210px -62px; }
div.aw1-osmissile    { background-position: -231px 0; }
div.aw1-ospiperunner { background-position: -147px -63px; }

div.aw1-bminfantry   { background-position: -1px -57px; }
div.aw1-bmmech       { background-position: -21px -78px; }
div.aw1-bmapc        { background-position: -22px -37px; }
div.aw1-bmtank       { background-position: -127px -1px; }
div.aw1-bmmdtank     { background-position: 0 -78px; }
div.aw1-bmneotank    { background-position: -63px -64px; }
div.aw1-bmmegatank   { background-position: -42px -60px; }
div.aw1-bmartillery  { background-position: -63px 0; }
div.aw1-bmantiair    { background-position: 0 -36px; }
div.aw1-bmrecon      { background-position: -85px -64px; }
div.aw1-bmrocket     { background-position: -85px -84px; }
div.aw1-bmmissile    { background-position: -43px -81px; }
div.aw1-bmpiperunner { background-position: -63px -84px; }
