<h2>Countries</h2>

<div class="container-fluid">
    <div class="table-header row">
        <div class="col-md-4">Name</div>
        <div class="col-md-8">Unit</div>
    </div>
    
    <div class="table-row row {{ ($index % 2 == 0 ? 'even' : 'odd') }}" ng-repeat="country in countries | orderBy: 'name'">
        <div class="col-md-4 country-bg country-{{country.abbreviation}}-bg">{{country.name}}</div>
        <div class="col-md-2"><div class="unit unit-{{country.abbreviation}}-infantry-bg"></div>
    </div>
</div>